hr {
	height: 3px;
	border-width: 0;
	color: black;
	background-color: black;
	width: 80%;
}
.logo-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	height: auto;
}
.img-left {
	display: block;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: auto;
	max-width: 35%;
	height: auto;
}
.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-bar a {
	display: block;
	text-align: center;
	padding: 15px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}
.icon-bar a:hover {
	background-color: #000;
}
.twitter {
	background: #55ACEE;
	color: white;
}
.linkedin {
	background: #007bb5;
	color: white;
}
.youtube {
	background: #bb0000;
	color: white;
}
.instagram {
	background: #8a3ab9;
	color: white;
}
.github {
	background: #6e5494;
	color: white;
}
.reddit {
	background: #ff5700;
	color: white;
}